.phaser-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    margin-bottom: 100px;
    
}

.flappy, .birdgame {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

img {
    width: 80px;
    height: auto;
}

a {
    text-decoration: none;
}


#birdgame-image {
    width: 70px;
}



