.headline-container {
    width: 100%;
    height: 12vh;
    background-color: rgb(17, 16, 16);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "roboto light";
    font-size: 30px;
    letter-spacing: 3px;
    text-transform: uppercase;
}



@media screen and (max-width: 600px) {
    .headline-container {
        height: 10vh;
    }

    .headline-container {
            font-size: 18px;
    }
}